@import "./../../../appVariables.scss";

.rooms {
	background: transparent;
	height: calc(100vh - 20px - 75px);
    overflow-y: scroll;
    position: relative;
    scrollbar-width: none;
    display: grid;
    align-content: space-between;

	// :last-child {
	// 	border-bottom: none;
	// }

	&::-webkit-scrollbar {
        width: 0;
    }

    .addRoom {
        
    }
    

    // .scrollContainer {
    //     background: transparent;
    //     position: absolute;
    //     top: 0;
    //     right: 0;
    //     bottom: 0;
    //     z-index: 100;
    //     // height: 100px;
    //     width: 10px;
    // }

    // .scroll {
    //     width: 6px;
    //     background: #000;
        
    //     height: 100px;
    //     top: 0;
    //     width: 0;
    // }
    
    // &::-webkit-scrollbar-thumb {
    //     background: $primaryColor;
    //     width: 5px;
    //     border-radius: 5px;
    // }
}
