@import "./../../../appVariables.scss";

.chat {
	// height: 100%;
	// width: 100%;
	border-bottom-right-radius: 10px;
	display: grid;
	grid: "head" 25px "messages" 1fr "addMessage" 45px;
	// grid-template-areas: "head" "messages" "addMessage";
	// grid-template-rows: 70px 1fr 100px;
	height: calc(100vh - 20px - 75px);
	background: rgb(245, 245, 244);

	.donut {
		filter: brightness(0.97);
	}

	.head {
		grid-area: head;
		display: flex;
		justify-content: center;
		align-items: center;
		background: rgb(218, 243, 235);
		color: rgb(46, 46, 46);
		padding: 5px;

		.loader {
			// width: max-content;
			// background: whitesmoke;
			// border: 1px solid red;
			display: flex;
			align-items: center;
			margin-right: 5px;
				
			img {
				height: 18px;
				width: 18px;
			}
		}
	}

	// .messagesWrapper { // chat-message-list
	// 	display: flex;
	// 	flex-direction: column-reverse;
	// 	padding: 0 20px;
	// 	// overflow: hidden;
	// 	overflow-y: scroll;

	.messages {
		grid-area: messages;
		// message-row you-message other-message
		// margin: 20px;
		// overflow-y: scroll;
		// // scroll-behavior: auto;
		// overflow: auto;
		// height: 100px;
		// width: 50%;
		// box-sizing: border-box;
		// margin-bottom: 20px;

		// height: 75vh;
		overflow-y: scroll;
		overflow-x: hidden;

		// background: transparent;
		// height: calc(100vh - 20px - 75px);
		// overflow-y: scroll;
		// position: relative;
		// scrollbar-width: none;
		scrollbar-width: thin;
		scrollbar-color: $primaryColor #dfdfdf;

		// display: grid;
		// grid-auto-flow: dense;
		// grid-template-columns: repeat(4fr);
		display: flex;
		flex-direction: column-reverse;

		.messagesDiv {
			display: flex;
			flex-direction: column-reverse;
			position: relative;
		}
	}
	// }
}
